.form-created {
  min-width: 486px;
  max-width: 600px;
  padding: 46px 54px;
  margin: 0 auto;
  border-radius: 6px;
  transition: all 0.3s ease;
  border: solid 1px $color-transparent;

  &--red {
    background-color: $color-valencia;
  }

  &--blue {
    background-color: $color-dodger-blue;
  }

  &--white {
    background-color: $color-default-white;
    border: solid 1px $color-default-black;

    & .MuiFormHelperText-root {
      color: #d32f2f;
    }

    .form-created__name {
      color: $color-default-black;
    }

    .form-created__add-info {
      color: $color-default-black;
    }

    .form-created__add-comment {
      color: $color-default-black;
    }

    .form-created__button {
      border: solid 1px $color-default-black;
    }

    .form-created__button-text {
      color: $color-default-black;
    }

    .form-created__button-icon {
      color: $color-default-black;
    }
  }

  &__name {
    text-align: center;
    font-family: $ff-futura;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    color: $color-default-white;
    margin: 0 0 36px;
  }

  &__wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    row-gap: 24px;
    column-gap: 16px;
    margin: 0 auto 23px;
  }

  &__button {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 9px;
    min-width: 281px;
    padding: 18px 30px;
    background: $color-transparent;
    border: 1px solid $color-default-white;
    border-radius: 6px;
    margin: 0 auto 16px;
    cursor: pointer;
  }

  &__button-text {
    font-family: $ff-source-sans-pro;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $color-default-white;
  }

  &__button-icon {
    color: $color-default-white;
    transform: rotate(-90deg);

    svg {
      width: 16px;
      height: 12px;
    }
  }

  &__add-comment {
    width: max-content;
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 4px;
    margin: 0 auto 25px;
    background-color: $color-transparent;
    padding: 0;
    border: none;
    outline: none;
    font-family: $ff-source-sans-pro;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-decoration-line: underline;
    color: $color-default-white;
    cursor: pointer;

    &--open {
      .form-created__add-comment-icon {
        transform: rotate(180deg);
      }
    }
  }

  &__add-comment-icon {
    transition: transform 0.3s ease;

    svg {
      width: 15px;
      height: 10px;
    }
  }

  &__add-info {
    max-width: 438px;
    font-family: $ff-source-sans-pro;
    font-weight: 400;
    font-size: 10px;
    line-height: 13px;
    color: rgba(255, 255, 255, 0.7);
    margin: 0 auto;

    a {
      color: inherit;
      text-decoration: underline;
    }
  }
}
