.comment-field {
  position: relative;
  margin: 0 auto 24px;

  &__input-file {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    position: absolute;
    z-index: -10;
    position: absolute;
    width: 9px;
    height: 18px;
    padding: 0;
    color: $color-default-black;
    cursor: pointer;
  }

  &__loader-wrapper {
    height: 18px;
  }

  & .icon-upload {
    position: relative;
    cursor: pointer;
    z-index: 2;
  }

  &__loaded-files {

  }

  &__loaded-list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
    margin: 0;
    padding: 7px 0 0;
    list-style-type: none;
  }

  &__file {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $ff-source-sans-pro;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: $color-default-white;
  }

  &__icon-close {
    width: 12px;
    height: 12px;
    cursor: pointer;
  }
}