.textfield-custom {
  position: relative;

  & label {
    position: static;
    transform: none;
    text-align: left;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #303c54;
    margin: 0 0 8px;
  }
}
