$color-valencia:                   #D24848;
$color-dodger-blue:                #0D6EFD;
$color-biscay:                     #303C54;
$color-pattens-blue:               #DEE2E6;
$color-mischka:                    #9DA5B1;
$color-default-white:              #ffffff;
$color-default-black:              #000000;
$color-transparent:                transparent;